@CHARSET "ISO-8859-1";

#corpo{
	width: 900px;
	height: 800px;
	background-color:#f2f2f2;
	margin:auto;
}

#topo {
	width: 900px;
	height: 160px;
	background-color:#000000;
	margin:auto;
}

#conteudo {
	width: 90%;
	height: 590px;
	background-color:#f2f2f2;
	margin:auto;
}

#conteudo_esq {
	width: 50%;
	height: 100%;
	float:left;
	text-align: left;
}

#conteudo_dir {
	width: 50%;
	height: 100%;
	overflow: auto;
	float:right;
	text-align: left;
}

#rodape {
	width: 900px;
	height: 40px;
	background-color:#000000;
	clear:both;
}

td {
	 width : 140px;
}

.table_morota {
	border: 1px solid #333;
	border-spacing: 0px;
}

.table_morota td {
	border: 1px solid #333;
}

body {
	
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}